body {
  font-family: Courier, Arial, sans-serif, Helvetica;
  font-size: 1.2em;
  margin: 2em;
  color: #ddd;
  background: #222;
}

img {
  margin-right: 1em;
  filter: grayscale(1) contrast(0.85);
  border-radius: 4px;
}

img:hover {
  filter: grayscale(0) contrast(0.78);
  transition: filter .2s ease-in;
}

a {
  color: #ddd;
}

a:hover {
  color: #fff;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1em;
}

.nudge-up {
  position: relative;
  display: inline;
  top: -48px;
  left: -1em;
}

.img-link {
  text-underline-offset: -45px;
}

.img-link:hover {
  > .div {
    filter: contrast(1.6);
    transition: filter 0.3s easin-in-out;
  }

   > .img {
    filter: contrast(0.85);
    transition: filter 0.3s ease-in-out;
  }
}

.imgless-link {
  text-underline-offset: 2px;
}

.imgless-link:hover {
  filter: contrast(1.6);
  transition: filter 0.3s easin-in-out;
}

.container {
  display: flex;
  align-items: stretch;
}

.half {
  width: 66%;
}

.third {
  width: 33%;
  margin-top: 0.333em;
}